body{
    background-color: lightgoldenrodyellow
}

H1{
background-color: lightcyan;
margin-left: 200px;
margin-right: 200px;
text-align: center;
color: red;
font-size: 55px
}

H2{
    text-align:center;
    color:red;
    font-size: 40px
}

p{
    background-color: aquamarine;
    text-align:center;
    width: 500px;
    height: 200px;
    font-size: 30px;
    border: 5px black
}


#info{
    background-color: lightgreen;
    width: 400px;
    height: 200px;
    float: right
}

ul{
    text-align:center;
}

.pic{
    clear: both;
    width: 300px;
    margin-left: 600px
}