body {
    background-image: url(../images/wood_pattern_@2x.png);
}

@media (max-width: 575.98px) {
    #me {
        width: 300px;
        height: auto
    }

    .card {
        width: 300px;
        height: auto
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    #me {
        width: 500px;
        height: auto
    }

    .card {
        width: 500px;
        height: auto
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    #me {
        width: 550px;
        height: auto
    }

    .card {
        width: 550px;
        height: auto
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    
}


@media (min-width: 1200px) {
    
    }




#top {
    height: 80px
}

#bio {
    margin-top: 115px;
}

.navbar-brand {
    font-size: 32px; 
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

#aboutme {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

#text {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#text2 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h3 {
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    font-size: 18px;
    margin-top: 120px;
}
a {
    text-decoration: none;
    color: white
}